{{#each data}}
{{#with attrs}}
<div id="{{../id}}" class="layout_groups">
    {{#has ../../editor}}
    <div class="layout_groups-editor_bar">
        <div class="item" data-key="add" title="添加"><span class="text">添加</span><i class="fa fa-plus"></i></div>
        <div class="item" data-key="up" title="上移"><span class="text">上移</span><i class="fa fa-arrow-up"></i></div>
        <div class="item" data-key="down" title="下移"><span class="text">下移</span><i class="fa fa-arrow-down"></i></div>
        <div class="item" data-key="delete" title="删除"><span class="text">删除</span><i class="fa fa-trash"></i></div>
    </div>
    {{/has}}
    {{#has bg.pc}}
    <section class="layout_bg layout_bg_pc" style=" background-image: url({{bg.pc}});">
        <img src="{{bg.pc}}" style="opacity: 0">
    </section>
    {{/has}}
    {{#filter bg.mo bg.pc}}
    <section class="layout_bg layout_bg_mo" style=" background-image: url({{result}});">
        <img src="{{result}}" style="opacity: 0">
    </section>
    {{/filter}}
    <section class="layout_limit_wrapper">
        <section class="layout_container">
            {{#has header.open}}
            <section class="layout_header">
                <section class="editor ck-content">{{{header.container}}}</section>
            </section>
            {{/has}}
            {{#each body}}
            <section class="layout_body">
                <section class="layout row">
                    {{#each col_container}}
                    <div class="col-{{col}} col">
                        <section class="editor ck-content">
                            {{{dom}}}
                        </section>
                    </div>
                    {{/each}}
                </section>
            </section>
            {{/each}}
            {{#has footer.open}}
            <section class="layout_footer">
                <section class="editor ck-content">{{{footer.container}}}</section>
            </section>
            {{/has}}
        </section>
    </section>
</div>
{{/with}}
{{/each}}
